{% extends 'base.html' %}
{% load markdownify %}
{% block content %}
    <main class="recipe-detail">
        <div>
            <a href="{% url 'meal_plans_edit' mealplan.pk %}">Edit</a>
            <a href="{% url 'meal_plans_delete' mealplan.pk %}">Delete</a>
        </div>
        <h1>Recipes for {{ mealplan.name }} on {{ mealplan.date }}</h1>
        <h2 class="recipe-grid">
            {% comment %} {% for mealplan in mealplan_list %}
                <div class="recipe-card">
                    <h2 class="recipe-card-title">
                        <a href="{% url 'meal_plans_detail' mealplan.pk %}">{{ mealplan.name }}</a>
            </h2> {% endcomment %}
            {% for recipe in mealplan.recipes.all %}
                <p>
                    <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
                </p>
            {% endfor %}
        </h2>
    </main>
{% endblock content %}
